%ul#main_nav_dropdown.dropdown-content
  %li
    = link_to 'Forum', forums_path, class: 'red-text'
  %li
    = link_to 'News', '#', class: 'grey-text'
  %li
    = link_to 'Merch', '#', class: 'grey-text'
