-# Links when user is signed out
.col.m7.l5.out-nav-btns.right.hide-on-small-and-down
  %li
    = link_to 'Sign In', new_user_session_path, class: 'btn red sign-in waves-effect waves-light'
  %li
    = link_to 'Grow With Us', new_user_registration_path, class: 'btn green waves-effect waves-light'
