%ul
  %li
    = link_to 'Add News Story', new_news_story_path
  -# %br
  -# = link_to 'Categories Index', forum_categories_path
  -# %br
  -# = link_to 'New Site Notification', new_site_notification_path
  -# %br
  -# = link_to 'Admin Area', admin_root_path
  -# %br
  -# = link_to 'Send Confirm Reminder', confirm_reminder_path, method: :post
  -# %br
  -# #sort-btn.btn-sm.btn-danger.mb-3.text-center
  -#   Sort
