#admin-links.ml-2
  %h5
    Admin links
  = link_to 'Categories Index', forum_categories_path
  %br
  = link_to 'New Site Notification', new_site_notification_path
  %br
  = link_to 'Admin Area', admin_root_path
  %br
  = link_to 'Send Confirm Reminder', confirm_reminder_path, method: :post
