%nav#topbar.navbar.navbar-light.navbar-expand-lg
  .logo-area
    = link_to root_path, class: 'navbar-brand', id: 'top-logo' do
      .logo
        = image_tag 'main_logo.png'

  -# %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
  -#   %span.navbar-toggler-icon
  -# #navbarSupportedContent.collapse.navbar-collapse
  -#   %ul.navbar-nav.my-2.my-lg-0.ml-auto
  -#     - if user_signed_in?
  -#       %li.nav-item.user-name
  -#         = link_to fa_icon('user',text: current_user.username), edit_user_registration_path, class: 'nav-link mr-2'
  -#       %li.nav-item
  -#         = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link mr-2'
  -#     - else
  -#       %li.nav-item
  -#         = link_to 'Sign in', new_user_session_path, class: 'btn btn-success nav-link mr-2'
  -#       %li.nav-item
  -#         = link_to 'Sign up', new_user_registration_path, class: 'btn btn-secondary nav-link mr-2'
