.sticky-top
  #site-nav.navbar.navbar-expand-lg.navbar-light.bg-light
    = link_to root_path, class: 'logo' do
      -# = image_tag asset_path('main_logo.png'), id: 'site-logo-link'
      %h5.text-center
        = t("tag-line1")
        %br
        = t("tag-line2")

    -# Toggler
    %btn.navbar-toggler{'type': "button", 'data-toggle': "collapse", 'data-target': "#navbarLinks", 'aria-controls': "navbarLinks", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
      %span.navbar-toggler-icon
