#cat-show.mt-3.ml-3
  %h2 Top Categories
  %hr
  - if user_admin?
    = link_to 'New category', new_forum_category_path
  %ul#forum_categories.list-group{"data-url": sort_forum_categories_path}
    - @forum_categories.each do |category|
      %li.list-group-item{id: dom_id(category)}
        = link_to category.title, forum_category_path(category)
