.container{style: "text-align: center;"}
  %h3
    = @user.username
  .body{style: "margin: 0 60px;"}
    %p
      There seems to have been a problem with our account creation over the past
      few days stopping some users from being able to confirm their accounts and then logging in.
      We have corrected the issue, and you should now be able to continue through the account creation process.
    %br
    = link_to 'Click here to confirm your account', "https://www.sproutfreecanada.com/users/confirmation/new"
    %p
      We are sorry for any inconvinous that this may have caused.
