%h3 @user.username

%p
  It looks like there was a problem with our account creation over the past few days.
  The problem should now be fixed a you can now confirm your account
  = link_to 'Click here to confirm your account', new_user_confirmation_path
  
