#main-landing-page
  .pic-area{style: "background-image: url(#{asset_path('g3.jpg')});"}
    .jumbotron
      %h1.text-center.mb-3
        Welcome to Canada’s Community of Growers
      %h1.text-center.underline.mx-auto
        GROW WITH US!
      .card-body
        %h1.text-center
          Our First 100
          %br
          %strong Forum Posters
          %br
          Will Be Entered Into
          %p.underline
            The FREE Seed Pack GIVEAWAY

        = link_to 'Sign Up Now', new_user_registration_path, class: 'btn btn-danger mb-5 pulse'
