- if user_signed_in?
  #user-info-area
    .user-gravatar
      = image_tag user_avatar(current_user, 60)
    .user-info.mt-2
      .username
        = current_user.username
      .user-stats
        Post Count:
        = current_user.forum_posts.all.count
