#ForumSearchModal.modal.fade{"tabindex": -1, 'role': 'dialog', 'aria-labelledby': 'SearchForumForm', 'aria-hidden': 'true'}
  .modal-dialog{'role': 'document'}
    .modal-content
      .modal-header
        %h5#SearchForumModal.modal-title Search
        %button{'type': 'button', class: 'close', 'data-dismiss': 'modal', 'aria-label': 'close'}
          %span{'aria-hidden': 'true'} &times;
      .modal-body
        = form_tag forum_categories_path, method: :get do
          = text_field_tag :q, nil, placeholder: 'search'
