/ Forums Topbar
%ul#forums-nav.nav.justify-content-center.shadow-sm
  %li.nav-item
    %h3.mt-2
      =link_to 'Forum', forums_path, class: 'nav-link'
  -# %li.nav-item.nav-link.ml-auto
  -#   = link_to 'Top Threads', "#", class: 'nav-link'
  -# %li.nav-item.nav-link
  -#   = link_to 'Trending Threads', '#', class: 'nav-link'
  %li.nav-item.nav-link.mx-auto
    = link_to 'Newest Threads', forum_threads_path, class: 'nav-link btn-sm temp-alert'
  %li.nav-item.nav-link
    = link_to "#", class: 'nav-link' do
      = fa_icon('search', text: 'Search')
