%hr
= simple_form_for [@forum_thread, @forum_post ] do |f|
  = f.error_notification
  
  = f.input :body, placeholder: 'Leave a new post here...', label: false
  = f.submit 'Submit Post', class: 'btn btn-secondary'
