#main-site-navbar{
  .search{
    height:100%;
  }

  .input-field label.active i {
    color: #d8d8d8;
  }
  #nav-logo, #main-logo{
    height: 100% !important;
  }
  #nav-logo{
    display: flex;
    width: 100%;

    .icon {
      color: black;
    }

    #main-logo{
      padding: 2px 5px 2px 0px;
    }

    #nav-search{
      color: black;
    }

    .tag-line{
      font-family: 'Robot', sans-serif;
      font-variant-caps: all-petite-caps;
      font-weight: 600;
      color: black;
      display: flex;
      flex-direction: column;
      line-height: 14px;
      align-items: center;
      justify-content: center;
      padding: 10px 10px 10px 0px;
      text-align: center;
    }
  }
  .out-nav-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn{
      margin: auto ;
    }
    .sign-in{
      margin-right: 5px !important;
    }
  }
}

#main_nav_dropdown{
  border-top: 2px solid red;
}
