// font
@import "trix";
@import url('https://fonts.googleapis.com/css?family=Raleway|Arimo:700|Roboto|Roboto+Condensed|Roboto+Mono');
@import "bootstrap";
@import 'font_awesome5_webfont';
@import "*";

.btn{
  padding: 10px 20px;
  background-color: rgba(5, 157, 113, 0);
  font-size: 1.1rem;
  color: inherit;
  font-weight: bold;
}

.fa-spin-reverse {
  -webkit-animation: fa-spin-reverse 2s infinite linear;
  animation: fa-spin-reverse 2s infinite linear;
}
@-webkit-keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
