.navbar-brand,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  margin-right: 0;
}

.btn {
  padding: 10px 20px;
  background-color: rgba(5, 157, 113, 0);
  font-size: 1.1rem;
  color: inherit;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 1.2rem;
}

.fa-spin-reverse {
  -webkit-animation: fa-spin-reverse 2s infinite linear;
  animation: fa-spin-reverse 2s infinite linear;
}

body {
  background-color: rgb(243,243,243);
  font-family: 'Raleway', sans-serif;
  // font-family: 'Roboto Condensed', sans-serif;
  //font-family: 'Roboto Mono', monospace;
  .dynamic-content {
    background-color: rgb(255, 255, 255);
    border-top: 2px solid rgb(252, 80, 71);
    height: 90vh;
    display: flex;
    justify-content: space-between;

    .current-controller-area {
      flex-basis: 100%;
      padding-right: 15px;
    }

    .side-bar {
      background-color: rgb(255, 255, 255);
      padding-right: 40px;
      flex-basis: 300px;
    }
  }
}

#trix {
  height: 400px;
  max-height: 100% !important;
  overflow-y: auto;
  max-width: 100%;
}
@media (max-width: 800px) {
  .dynamic-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@-webkit-keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
