#devise-area{
  display: flex;
  align-items: center;
  justify-content: center;
  .card{
    background-color: $white-bg;
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    .card-head{
      border-bottom: 1px solid rgb(179, 179, 179);
    }
    .card-body{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      form{
        width: 50%;
      }
    }
  }
}
