// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#forums-nav {
  background-color: rgb(185, 5, 5);

  .nav-link {
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif !important;
    font-weight: bold;
  }
}

.list-group-flush{
  padding-left: 0;
}

#forums-page {
  width: 100%;

  .category {
    width: 100%;

    .title{
      color: rgb(0, 0,0);
    }

    .topic-link-and-logo{
      display: flex;
      align-items: center;

      .topic-link {
        color: rgb(3, 167, 162);
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        padding-left: 10px;

        &:hover {
          text-decoration: none !important;
          color: rgb(16, 102, 173);
        }
      }
  }

    .topic-count {
      padding-left: 10px;
      font-size: 0.8rem;
      color: rgb(101, 101, 101);
    }
  }
}
@media(max-width:800px) {
  #forums-page .categories-list {
    width: 100%;
  }
}
