#topic-show {
  .btn-sm {
    color: rgb(255, 255, 255) !important;
  }

  a {
    color: rgb(3, 167, 162);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      text-decoration: none !important;
      color: rgb(16, 102, 173);
    }
  }

  .forum-post {
    display: flex;
    align-items: center;
    background-color: rgb(215, 215, 215);
    .left-area{
      div{
        font-size: 0.8rem;
        font-weight: normal;
        color: rgb(0, 0, 0);
      }
      width:300px;
      margin-left: auto;
    }
    &:nth-child(even){
      background-color:rgb(238, 238, 238);
    }
  }
}
