#forums_page{
  ul.categories-list{
    list-style-type: none;
    li.cat-title{
      list-style: none;
      align-items:center;
      padding-bottom: 7px;
      font-weight: bold;
      text-decoration: underline;

      ul.topic-list{
        list-style-type: none !important;
        li.topic{
          text-decoration: none !important;
        }
      }
    }
  }

  .thread-link{
    display: flex;
    align-items: center;
    img{
      margin: 5px 10px;
    }
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
