#forum-nav-bar {
  #main.row{
    display: flex;
    margin-bottom: 0;
    > ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .right-links{
      justify-content: flex-start;
      li{
        font-size: 1.2rem;
        margin-right: 45px;
      }
    }
    .left-links{
      justify-content: flex-start;
      li{
        margin-right: 15px;
        a{
          display: flex;
        }
      }
    }
  }

  ul#categories-dropdown{
    li{
      min-height: 50px;
      display: flex;
      align-items: center;
      a{
        padding: 4px 6px;
        color: rgb(0, 0, 0);
      }
      &:nth-child(even){
        background-color: #fff5f5;
        &:hover{
          background-color: rgb(231, 231, 231);
        }
      }
    }
  }
}
