#trix-body {
  min-height: 500px;
  display: flex;
  flex-direction: column;

  a img {
    max-height: 400px;
    max-width: 400px;
  }
}

.thread {
  max-width: 100%;

  .heading{
    display: flex;
    justify-content: space-between;
    h3 {
      margin-bottom: 0;
    }
    .created-at {}

    .right{
      align-self: flex-end;
      margin-right: 80px;
      padding-bottom: 10px;
    }
  }

  .posts-container {
    .post {
      display: flex;
      width: 100%;

      .user-card {
        display: flex;
        padding: 10px;
        height: 100px;
        min-width: 250px;
        background-color: $white-bg;
        border-radius: 2px;
        box-shadow: 0 0 7px 1px rgb(224, 224, 224);


        .details {
          h5 {
            font-size: 1.05rem;
          }
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        img {
          height: 70px;
        }
      }

      .post-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px 80px;
        padding: 20px 30px ;
        background-color: $white-bg;
        border-radius: 2px;
        box-shadow: 0 0 7px 1px $shadow-white;

        .trix-content{

          .attachment-gallery {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;

            a{
              // max-width: 400px !important;
              img {
                image-orientation: from-image;
                display: flex;
                flex-direction: column;
                height: auto !important;
                max-width: 400px !important;
                margin: 10px 20px;
              }
            }
          }
        }
      }
    }
    .new-post-form{
      padding: 10px 80px;
      .post{
        width: 100%;
        min-height: 400px;

        #new_forum_post{
          // TODO: Need to fit user box
          width: 85% !important;

          #forum_post_body{
            min-height: 450px;
          }
        }
      }
    }
  }
}

.bottom-stats{
  .avatars{
    min-height:30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
  }
}

@media(max-width:1000px){
  .thread .posts-container .new-post-form .post #new_forum_post{
    width: 100% !important;
  }
  .posts-container {
    .post {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .user-card{
        width: 100%;
      }
    }
  }
}
