.posts_card{
  padding: 20px;
  .card-top-row{
    display: flex;
    align-items: center;
  }
  .time-ago{
    color: rgb(149, 149, 149);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .username{
    font-weight: bold;
    font-size: 1.15rem;
  }
}
