#forum-nav-bar {
  #main.row{
    > ul{
      display: flex;
      justify-content: space-around;
    }
  }

  ul#categories-dropdown{
    li{
      min-height: 50px;
      display: flex;
      align-items: center;
      a{
        padding: 4px 6px;
        color: rgb(0, 0, 0);
      }
      &:nth-child(even){
        background-color: #fff5f5;
        &:hover{
          background-color: rgb(231, 231, 231);
        }
      }
    }
  }
}
