.forum-area{
  background-color: $white-bg;
  padding: 3px;
  h3{
    font-size: 1.4rem;
  }

  .list-group{
    .forum-post{
      padding: 10px;
      border: 1px solid rgb(97, 97, 97);
      border-radius: 5px;
      margin: 1.5px 0;
      .forum-avatar{
        max-height:30px;
        border: 1px solid rgb(96, 190, 167);
        border-radius: 50%;
        margin: 3px 15px;
      }
    }
  }
}
