#topic-show {
  .btn-sm {
    color: rgb(255, 255, 255) !important;
  }

  a {
    color: $dark-blue;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      text-decoration: none !important;
      color: $light-blue;
    }
  }

  .forum-post {
    display: flex;
    align-items: center;
    background-color: $white-bg;
    .left-area{
      div{
        font-size: 0.8rem;
        font-weight: normal;
        color: rgb(0, 0, 0);
      }
      width:300px;
      margin-left: auto;
    }
    &:nth-child(even){
      background-color: $shadow-white;
    }
  }
}
