// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#forums-nav {
  background-color: $red-bg;
  border-bottom: 2px solid rgb(97, 97, 97);

  .nav-link {
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif !important;
    font-weight: bold;
  }
}

.list-group-flush{
  padding-left: 0;
}

#forums-page {
  width: 100%;

  .category {
    width: 100%;

    .title{
      color: rgb(0, 0,0);
      text-shadow: 1px 1px 1px rgb(176, 176, 176);

      &:hover{
        color: $light-blue;
      }
    }

    .topic-link-and-logo{
      display: flex;
      align-items: center;

      .topic-link {
        color: $dark-blue;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        padding-left: 10px;

        &:hover {
          text-decoration: none !important;
          color: $light-blue;
        }
      }
  }

    .topic-count {
      padding-left: 10px;
      font-size: 0.8rem;
      color: rgb(101, 101, 101);
    }
  }
}

@media(max-width: 1000px){
  #forums-nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav-link{
      padding: 0;
    }
  }
}

@media(max-width:800px) {
  #forums-page .categories-list {
    width: 100%;
  }
}
