// New

#main-landing-page {

  .btn{
    color: rgb(255, 255, 255) !important;
    padding: 20px 70px;
  }

  .details{
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  h1, h2, h3 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
  }
  .underline{
    text-decoration: underline !important;
  }

  strong {
    color: rgb(0, 198, 8);
  }

  p {
    color: rgb(203, 1, 1);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
  }

  .user-count{
  }

  .user-icon{
    color: rgb(0, 163, 51);
    filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
  }

  .pic-area {
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;

    .left-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width:40%;
      padding-bottom: 50px;
    }

    .right-area {
      margin-right: 50px;
      align-self: center;
      .details{
        font-size: 1.2rem;
      }
    }
  }
}
@media (max-width: 1200px) {
  #main-landing-page .pic-area {
    h2, h3{
      font-size: 2.8rem;
    }
    flex-direction: column;
    align-items: center;
    .left-area{
      padding-top: 25px;
      width: 100%;
      background-color: rgba(221, 221, 221, 0.43);
      .info{
        align-self: center;
      }
    }
    .right-area{
      margin-right: 0;
      align-self: center;
      padding: 20px 0;
      width: 100%;
      background-color: rgba(221, 221, 221, 0.43);
      padding-bottom: 50px;
    }
  }
}
// old
//   .underline{
//     text-decoration: underline !important;
//   }
//   .pic-area {
//     background-clip: border-box;
//     background-size: cover;
//     background-position: center;
//     min-height: 80vh;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     // align-items: center;
//
//     .jumbotron {
//       .top{
//         width: 40%;
//       }
//       min-height: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       justify-content: flex-start;
//       width: 100%;
//       background-color: rgba(255, 255, 255, 0);
//       padding: 40px 20px;
//       margin-top: 10px;
//       h1,
//       h2,
//       h3 {
//         color: rgb(255, 255, 255);
//         text-shadow: 1px 1px 5px rgb(0, 0, 0);
//       }
//
//       .grow-and-links{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//
//         .btn {
//           color: rgb(255, 255, 255) !important;
//           padding: 20px 70px;
//           // box-shadow: 0px 0px 10px 4px rgb(255, 255, 255);
//         }
//       }
//
//       .card-body {
//         width: 40%;
//         position: relative;
//         top: -130px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: space-around;
//
//         strong {
//           color: rgb(0, 198, 8);
//         }
//
//         p {
//           color: rgb(203, 1, 1);
//           text-shadow: 1px 1px 5px rgb(0, 0, 0);
//         }
//       }
//     }
//   }
// }
// @media (max-width: 1200px) {
//   #main-landing-page .pic-area {
//
//     .jumbotron .card-body {
//       position: static !important;
//     }
//
//     .jumbotron {
//       width: 100% !important;
//       justify-content: center;
//       align-items: center;
//
//       .grow-and-links {
//         margin-left: auto !important;
//         margin-right: auto !important;
//       }
//
//       h1,
//       h2,
//       h3 {
//         // font-weight: normal;
//       }
//     }
//   }
// }
