// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-landing-page {
  .underline{
    text-decoration: underline !important;
  }
  .pic-area {
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    .jumbotron {
      .top{
        width: 50%;
      }
      min-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      padding: 40px 20px;
      margin-top: 10px;
      h1,
      h2,
      h3 {
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 5px rgb(0, 0, 0);
      }

      .grow-and-links{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .card-body {
        width: 50%;
        position: relative;
        top: -130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        strong {
          color: rgb(0, 198, 8);
        }

        p {
          color: rgb(203, 1, 1);
          text-shadow: 1px 1px 5px rgb(0, 0, 0);
        }

        .btn {
          color: rgb(255, 255, 255) !important;
          padding: 20px 70px;
          // box-shadow: 0px 0px 10px 4px rgb(255, 255, 255);
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  #main-landing-page .pic-area {
    .jumbotron {
      width: 100% !important;
      justify-content: center;
      align-items: center;

      .grow-and-links {
        margin-left: auto !important;
        margin-right: auto !important;
      }

      h1,
      h2,
      h3 {
        font-weight: normal;
      }
    }
  }
}

@media(max-width:1200px){
  .jumbotron .card-body {
    position: static !important;
  }
}
