#news_stories_index{
  #news-stories-heading{
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgb(143, 143, 143);
  }

  .news-heading{
    text-decoration: underline;
    line-height: inherit;
  }
  .row{
    margin-bottom: 0;
    .card-panel{
      margin: 0.3rem 0;
    }
  }
}
