.lightbulb-glow{
  color: rgb(255, 245, 6);
}

#notifications{
  .notification{
    padding: 10px 20px;
    &.unread{
      border-left: 4px solid red;
    }
  }
}

.new-notifications {
  color: red;
  //   cursor: pointer;
  //   box-shadow: 0 0 0 rgba(255, 255, 255, 1);
  //   animation: pulse 2.25s infinite;
  // &:hover {
  //   animation: none;

}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
