// Place all the styles related to the SiteNotifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-notification{
  background-color: rgba(236, 35, 0, 0.54);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-weight: bold;
}
