#logo-2 {
  max-height: 95px;
}
.sticky-top{

  background-color: rgb(255, 255, 255);
  overflow: visible;
  max-height: 155px;
}

#login-links-botom{
  display:none;
}

#logo-bar {
  // box-shadow: 0 0 3px rgb(157, 157, 157);
  background-color: rgba(255, 255, 255, 0) !important;
  padding-top: 3px;
  padding-bottom: 0;

  .btn{
    color: rgb(255, 255, 255);
  }
  .top-bar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .navbar-brand {
    padding-top: 0;
    padding-top: 0;
    font-family: 'Open Sans', sans-serif;

    .logo {
      position: relative;
      display: flex;

      img{
        position: relative;
        top: 15px;
        box-shadow: 0px 0px 8px 1px rgb(0, 0, 0);
        border-radius: 50%;
      }

      .tag-line {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .first {
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 13px;
          text-shadow: 0px 0px 2px rgb(147, 147, 147);
        }

        .second {
          font-size: 1.5rem;
          font-weight: bold;
          text-shadow:0px 0px 2px rgb(147, 147, 147);
        }
      }
    }
  }
}

#links-bar {
  background-color: rgba(255, 255, 255, 0) !important;
  position: relative;
  top: -5px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 0;
  .not-logo-links {
    #site-links {
      font-weight: bold;
      font-size: 0.9rem;
      text-shadow: 1px 1px 2px rgb(247, 225, 223);

      .nav-item {
        padding: 4px 10px;
        border-right: 2px solid rgb(222, 62, 62);
        box-shadow: 0 90 2px 1px rgb(119, 119, 119);

        .nav-link {
          color: rgb(0, 0, 0);
          text-align: center;
          font-size: 1rem;
          padding-top: 0;
          padding-bottom: 0;
          font-family: 'Open Sans', sans-serif;

          &:hover{
            animation: bling 1s ease-in-out forwards;
          }
        }
      }

      .nav-item:last-child {
        border: none;
      }
    }
  }
}

@keyframes bling {
  0%{
    text-shadow: 0 0 0px rgb(255, 255, 255);
  }
  100%{
    text-shadow: 0 0 3px rgb(255, 30, 0);
  }
}

@media (max-width: 1620px){
  #links-bar{
    position: inherit;
  }
  .sticky-top{
    max-height: none;
  }
}

@media (max-width: 1000px) {
  #logo-2 {
    top:0 !important;
  }
  .login-links-top{
    display: none;
  }
  #login-links-botom{
    display: block;
  }
}

@media (max-width: 530px){
  #logo-2{
    display: none;
  }
  .first{
    padding-top: 15px;
  }
}
