// Place all the styles related to the Tickler controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fade-in{
  animation: fade 0.5s ease-in forwards
}
.new-tickler-area {
  position: relative;
  top: 50px;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  width: 50%;
  box-shadow: 0 0 1px 1px rgb(79, 79, 79);

  h1 {
    font-weight: bold;
    color: rgb(158, 58, 58);
    margin-bottom: 0;
    text-shadow: 0px 0px 1px 1px rgb(85, 85, 85);
  }

  h3 {
    color: rgb(158, 58, 58);
    text-shadow: 0px 0px 1px 1px rgb(85, 85, 85);
  }

  .icon{
    color: rgb(64, 161, 60);
    text-shadow: 0px 0px 1px 1px rgb(85, 85, 85);
  }
}

#new_tickler {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 0.7rem;
    padding: 15px;
  }

  #tickler-email {
    width: 50%;
  }

  .btn {
    padding: 10px 20px;
    border: 2px solid rgb(158, 58, 58);
    background-color: rgba(5, 157, 113, 0);
    color: rgb(158, 58, 58);
    font-size: 1.05rem;
    font-weight: bold;
  }
}

.follow-us {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .item a {
    color: rgb(64, 161, 60);
    margin: 10px;
  }
}

.red {
  color: rgb(247, 51, 16);
}

.green {
  color: rgb(64, 161, 60);
}

@keyframes fade {
  0%{}
  100%{
    top: 0;
    opacity: 1;
  }
}

@media (max-width:1000px){
  .new-tickler-area{
    width: 100%;
  }
}
