// Place all the styles related to the UserProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-profile{
  .btn{
    color: rgb(255, 255, 255);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .edit-card{
    border: 1px solid rgb(232, 232, 232);
    border-radius: 5px;
    padding: 20px 30px;
    background-color: rgb(251, 251, 251);
    width: 50%;
  }

  .card{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(251, 251, 251);
    display: flex;
    flex-direction: row;
    width: 50%;
    min-height: 300px;

    .card-head{
      height: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex-direction: row;
    }

    .card-body{
      min-height: 100%;
    }
  }
}
