%h1
  = @title
%p
  = sanitize @body

%hr
%p{style: 'font-size:0.7rem; text-align:center'}
  Thank you for your continued support in helping us grow!
  = link_to "SproutFreeCanada", "https://www.SproutFreeCanada.com"
