= link_to forum_thread, { class: 'forum-post list-group-item' } do
  = render 'forum_threads/gravatar/avatar', forum_thread: forum_thread
  .ml-2
    = forum_thread.subject
  .left-area
    = strip_tags(forum_thread.forum_posts.first.body.truncate(100))
