%table.table
  %th
    %tr
      %th{'scope': 'col'}
        Title
      %th{'scope': 'col'}
        Username
      %th{'scope': 'col'}
        Created At
      %th{'scope': 'col'}
        Likes
      %th{'scope': 'col'}
        Comments
  %tb
    - @forum_threads.each do |thread|
      %tr
        %th{'scope': 'row'}
          = link_to thread.subject, forum_thread_path(thread)
        %td
          = thread.user.username
        %td
          = thread.created_at
        %td
          Like placeholder
        %td
          = thread.forum_posts.count - 1
