.row
  .col.s12
    %h5
      = @forum_thread.subject
.row
  .col.s12
    Some Tag and category info

- @forum_thread.forum_posts.each do |post|
  = render partial: 'forum_posts/posts_card', locals: { post: post }
