%html
  :css
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
  %body
    .div{style: 'min-width:100%; min-height: 100px; background-color: rgb(246,246,246); border: 1px solid rgb(215, 215, 215); display: flex; align-items:center;'}
      .img-left
        = image_tag 'main_logo.png', style: "max-height: 95px; margin: 15px"
      %h3{style: "font-family: 'Open Sans', sans-serif; font-weight: bold; font-size: 1.5rem; line-height:13px;"}
        Canada's Legalized
        %br
        Growing Community

    .div{style: "min-width: 100%; min-height: 80vh; margin: 0 auto; background-color: rgb(185, 5, 5); font-family: 'Open Sans', sans-serif;"}
      .white-area{style: 'max-width: 33%; min-height: 80vh; background-color: rgb(246, 246, 246);  margin: 0 auto; padding: 40px '}
        .card
          = yield

    .footer
      = link_to 'SproutFreeCanada', "https://www.SproutFreeCanada.com"
